###############################################################################
#  Python
###############################################################################
# Byte-code / optimized / compiled files

__pycache__/
*.py[cod]
*$py.class
# If any sub-folder might contain a __pycache__, catch them all:
**/__pycache__/

###############################################################################
#  JetBrains / PyCharm / IntelliJ settings
###############################################################################
.idea/

###############################################################################
#  Editor & OS clutter (optional but common)
.vscode/
.DS_Store

